
html[lang="ar"] .text-dir{
    direction: rtl;
    text-align: right;
  }
  html[lang="ar"] .recaptcha-dir{
    direction: rtl !important;
    text-align: right;
  }
  html[lang="ar"] input{
    direction: rtl;
    text-align: right;
  }
  html[lang="ar"] .text-dir{
    direction: rtl;
    text-align: right;
  }
  html[lang="ar"] textarea{
    direction: rtl;
    text-align: right;
  }
  html[lang="ar"] .PhoneInputInput {
    direction: ltr !important;
  }
  