@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif !important;
}
.active {
  border-bottom: 2px solid #1a4f92;
}
.section-border {
  border: none;
}
@media(min-width: 1024px) {
.section-border {
  border-bottom: 1px solid #ffffff47;
}
}
/* styles.css */
.section-border {
  @apply pb-8 border-b border-[#ffffff47];
}

/* Container styling for the custom arrows */
.slider-controler {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-arrow {
  position: absolute;
  top: 10%;
  transform: translateY(-300%);
  cursor: pointer;
  z-index: 10;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}



  /* Gradient Background */ 
  .gradient-bg{
    @apply bg-gradient-to-t to-secondary-dark from-back-ground 
  }
  